<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/english_flow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishFlow">

        <!-- Splash Activity - Entry Point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EnglishFlow.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.CustomVocabularyManagerActivity"
            android:exported="false" />
    </application>

</manifest>